@font-face {
    font-family: "Saitamaar";
    src: url("https://keage.tokyo/fonts/Saitamaar.woff2") format("woff2");
}

* {
    font-family: "Saitamaar";
    font-size: 16px;
    line-height: 18px;
}

textarea {
    width: min(80vw, 30em);
    height: 10em;
    text-wrap: nowrap;
}

button {
    margin: 10px;
    width: 5em;
    height: 5em;
}

hr {
    border: none;
    border-top: 1px solid black;
}

canvas {
    width: calc(100% - 2px);
    border: 1px solid black;
    image-rendering: pixelated;
}

#saveButton {
    display: none;
}

input[type="number"] {
    width: 3em;
}

#buttonSettingWrapper {
    display: flex;
    margin: 10px;
}

label {
    display: inline-block;
}
