textarea {
    width: min(90%, 30em);
    height: 10em;
    vertical-align: top;
}

input {
    width: min(90%, 15em);
}

#form {
    margin: 1em;
    padding: 1.5em;
    background-color: #def;
    border-radius: 8px;
}

#sendButton {
    padding: 0.5em 2em;
    margin-top: 2em;
}

#sendButton.sending {
}

hr {
    border: none;
    border-top: 1px solid black;
}

div.opinion {
    margin: 5px;
    border-bottom: 1px solid #888;
}

p.name {
    color: green;
    font-size: 80%;
}

p.date {
    color: #aaa;
    font-size: 60%;
}

p.text {
    white-space: pre;
}

.loadingLine {
    height: 1lh;
    background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
