@import "tailwindcss";

* {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 130%;
  font-weight: 100;
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid black;
}

h2 {
  font-size: 120%;
  font-weight: 100;
  margin: 2em 0.5em 1em;
  padding: 0.25em 0.5em;
  border-left: 5px solid darkblue;
  border-bottom: 1px dashed black;
}

p {
  margin: 0.5em 1em;
}

li {
  margin: 0.5em 0;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.level1 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
